:root {
	--white: #f5f5f5;
	--green: #1a5135;
	--red: #BD4A38;

	--bulb-color-one: #025ba0;
	--bulb-color-two: #9bc72b;
	--bulb-color-three: #f0c517;
	--bulb-color-four: #bf1724;
	--bulb-color-five: #5cc9f4;
}