.countdown-container {
	width: 60vw;
	height: 90vh; 
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
	border: 0;
	z-index: 4;
	left: 20%;
	background-color: #9E2524;
	margin: 0 auto;
	position: absolute;
	transform: translateY(-100%);
	transition: 0.5s;
}

.countdown-container__button {
	background-image: url(../../assets/icons/arrow.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 70px;
	height: 60px;
	left: 50%;
	transform: rotate(270deg);
	position: absolute;
	bottom: -50px;
	left: 25vw;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.countdown-container__button:hover {
	transform: rotate(270deg) scale(1.2);
}

.countdown-video {
	width: 100%;
}

.countdown {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	justify-content: center;
	width: 100%;
	margin-top: 1em;
}

.countdown-container h3 {
	color: var(--white);
	font-size: 1em;
	padding: 1em 0;
}

.countdown-container h3::after {
	content: '';
	position: absolute;
	background-color: var(--white);
	opacity: 0.5;
	height: 1px;
	width: 60%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	border-radius: 5px;
}

.countdown div {
	background: var(--white);
	margin: 0.5em;
	width: 5em;
	height: 5em;
	color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3em;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
}

.countdown div span {
	display: block;
	color: var(--green);
}

.countdown div p {
	color: var(--green);
	text-transform: uppercase;
}

@media screen and (min-width: 550px) {
	.countdown-container {
		height: 70vh;
	}

	.countdown {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.countdown div {
		padding: 3em;
		flex: 0 0 calc(50% - 1em);
	}
}

/* Styling for tablet */
@media screen and (min-width: 768px) {
	.countdown-container {
		height: 45vh;
		width: 80vw;
		top: 25%;
		left: 20%;
		transform: translate(100%, 0);
	}

	.countdown-container__content {
		position: absolute;
		top: 4em;
		right: 4em;
	}
	.countdown {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.countdown-container__button {
		transform: rotate(0deg);
		left: -60px;
		top: 49%;
	}

	.countdown-container__button:hover {
		transform: rotate(0deg) scale(1.2);
	}

	.countdown-container__button-neck {
		transform: rotate(90deg);
		left: -23px;
		top: 52%;
		height: 16px;
	}

	.countdown div {
		flex: 0 0 calc(50% - 1em);
		padding: 3em;
	}
}

/* Styling for desktop */
@media screen and (min-width: 992px) {
	.countdown-container {
		background: transparent;
		box-shadow: none;
		height: 65vh;
		max-width: 900px;
	}

	.countdown-container__button {
		top: 50%;
		left: -63px;
		height: 60px;
	}

	.countdown-video {
		height: 100%;
		padding: 0;
		position: relative;
	}

	.countdown-container__content {
		position: absolute;
		top: 5em;
		right: 4em;
	}

	.countdown div {
		flex: 0 0 calc(25% - 1em);
		padding: 3.5em;
	}

	.countdown-container h3 {
		background: linear-gradient(45deg, var(--white), rgb(163, 12, 19));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: 1px 1px 0px rgba(163, 12, 19, 0.2);
		font-size: 1.2em;
	}
}

/* Some quick fixes for the dragdown countdown to not be visible in desktop.
This way of doing it is not optimal at all but with more time i would have fixed it properly!  */
@media screen and (min-width: 1150px) {
	.countdown-container {
		left: 270px;
	}
}
@media screen and (min-width: 1250px) {
	.countdown-container {
		left: 400px;
	}
}

@media screen and (min-width: 1370px) {
	.countdown-container {
		left: 570px;
	}
} 