.hero {
	position: relative;
	padding: 2.5em;
	padding-top: 6.5em;
}

.hero::before {
	content: '';
	background-image: url(../../assets/images/small/hero.png);
	background-size: cover;
	background-position: right;
	opacity: 0.2;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}

.hero h1 {
	font-size: 2.7em;
	font-family: 'Bellefair', serif;
	font-weight: lighter;
	text-transform: uppercase;
	text-align: center;
	margin: 0.5em 0;
}

.hero h3 {
	font-size: 0.9em;
}

.hero__span--the {
	display: block;
}

.hero__explore-button {
	background-color: var(--green);
	padding: 3em 2em;
	border-radius: 100%;
	border: 0px solid transparent;
	color: var(--white);
	display: flex;
	margin: 1em auto;
	font-size: 1.5em;
	font-family: 'Barlow', serif;
	text-transform: uppercase;
	font-weight: lighter;
	transition: all 0.3s ease-in-out;
}

.hero__explore-button:hover, .hero__explore-button:focus{
	padding: 2em 1em;
	border: 30px solid rgba(245, 245, 245, 0.6)
}

/* Styling for tablet */
@media screen and (min-width: 768px) {
	.hero {
		padding: 8em 8em
	}

	.hero::before {
		background-position: left;
		background-image: url(../../assets/images/medium/hero.png);
	}

	.hero h1 {
		font-size: 4em;
	}
}

/* Styling for dektop */
@media screen and (min-width: 992px) {
	.hero {
		display: flex;
		padding-left: 6em;
	}

	.hero::before {
		background-position: left;
		background-image: url(../../assets/images/big/hero.png);
	}
	
	.hero h1, .hero h3, .hero p{
		text-align: left;
	}

	.hero__span--the {
		display: inline;
		gap: 4em;
	}

	.hero__info {
		padding: 2em 0;
	}

	.hero h1 {
		font-size: 5em;
	}

	.hero h3 {
	font-size: 1em;	
	}

	.hero p {
		max-width: 50vw;
	}

	.hero__explore-button {
		align-self: flex-end;
		position: absolute;
		right: 10%;
	}
	
}