.light-bulb__settings {
	position: absolute;
	background-color: var(--white);
	color: var(--green);
	width: 300px;
	height: 50px;
	padding: .5em;
	border-radius: 10px;
	border: 1px solid var(--green);
	z-index: 10;
	left: 50%;
	transform: translateX(-50%);
	bottom: 2%;
	font-size: 0.8em;
	display: flex;
	justify-content: space-between;
}

.light-bulb__group {
	display: flex;
	align-items: center;
	margin: 15px 0;
}

.light-bulb__group label {
	flex-basis: 80px;
}

.light-bulb__switch {
	cursor: pointer;
	width: 50px;
	height: 30px;
	background-color: lightgray;
	border-radius: 100px;
	margin-right: 5px;
	padding: 6px 12px;
	position: relative;
	transition-duration: 0.4s;
	appearance: none;
	/* outline: none; */
}

.light-bulb__switch:checked {
	background-color: black;
}

.light-bulb__checkbox-container:active {
	background: black;
}

.light-bulb__switch:checked::after {
	left: 48%;
}

.light-bulb__switch::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: var(--white);
	border-radius: 100%;
	left: 5%;
	top: 9%;
	transition-duration: 0.4s;
}

.interval-control {
	border: 1px solid var(--green);
	border-radius: 5px;
	font-family: inherit;
	font-size: inherit;
	padding: 6px 12px;
}

.light-bulbs {
	display: flex;
	justify-content: space-between;
	padding: 2.5em 1.5em 1.5em 2em;
	width: 1450px;
	position: absolute;
	z-index: 1;
	top: 4em;
	margin: 0 auto;
	
}

.light-bulb {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	position: relative;
}

.light-bulbs.on .light-bulb {
	animation-duration: 1.1s;
	animation-iteration-count: infinite;
}

.light-bulb.color-one {
	background-color: var(--color-one);
}

.light-bulbs.on .light-bulb.color-one {
	animation-name: blinking-color-bulb-one;
}

.light-bulb.color-two {
	background-color: var(--color-two);
}

.light-bulbs.on .light-bulb.color-two {
	animation-name: blinking-color-bulb-two;
}

.light-bulb.color-three {
	background-color: var(--color-three);
}

.light-bulbs.on .light-bulb.color-three {
	animation-name: blinking-color-bulb-three;
}

.light-bulb.color-four {
	background-color: var(--color-four);
}

.light-bulbs.on .light-bulb.color-four {
	animation-name: blinking-color-bulb-four;
}

.light-bulb.color-five {
	background-color: var(--color-five);
}

.light-bulbs.on .light-bulb.color-five {
	animation-name: blinking-color-bulb-five;
}

.light-bulb::before {
	content: '';
	position: absolute;
	border: 2px solid #222;
	width: 10px;
	height: 10px;
	background: #222;
	border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	left: 25%;
	top: -12px; 
}

.light-bulb::after {
	content: '';
	width: 90px;
	height: 20px;
	border-bottom: 4px solid #222;
	border-radius: 50%;
	position: absolute;
	z-index: -1;
	top: -20px;
	left: 60%;
}

.light-bulb:last-of-type::after {
	border: none;
}

@keyframes blinking-color-bulb-one {
	0% {
		box-shadow: 0 1px 10px 5px var(--color-one);
	}
	25% {
		box-shadow: 0 1px 15px 5px var(--color-one);
	}
	50% {
		box-shadow: 0 1px 20px 5px var(--color-one);
	}
	75% {
		box-shadow: 0 1px 25px 5px var(--color-one);
	}
	100% {
		box-shadow: none;
	}
}

@keyframes blinking-color-bulb-two {
	0% {
		box-shadow: 0px 1px 10px 5px var(--color-two) ;
	}
	25% {
		box-shadow: 0px 1px 15px 5px var(--color-two) ;
	}
	50% {
		box-shadow: 0px 1px 20px 5px var(--color-two) ;
	}
	75% {
		box-shadow: 0px 1px 25px 5px var(--color-two) ;
	}
	100% {
		box-shadow: none;
	}
}

@keyframes blinking-color-bulb-three {
	0% {
		box-shadow: 0 1px 10px 5px var(--color-three) ;
	}
	25% {
		box-shadow: 0 1px 15px 5px var(--color-three) ;
	}
	50% {
		box-shadow: 0 1px 20px 5px var(--color-three) ;
	}
	75% {
		box-shadow: 0 1px 25px 5px var(--color-three) ;
	}
	100% {
		box-shadow: none;
	}
}

@keyframes blinking-color-bulb-four {
	0% {
		box-shadow: 0 1px 10px 5px var(--color-four) ;
	}
	25% {
		box-shadow: 0 1px 15px 5px var(--color-four) ;
	}
	50% {
		box-shadow: 0 1px 20px 5px var(--color-four) ;
	}
	75% {
		box-shadow: 0 1px 25px 5px var(--color-four) ;
	}
	100% {
		box-shadow: none;
	}
}

@keyframes blinking-color-bulb-five {
	0% {
		box-shadow: 0 1px 10px 5px var(--color-five) ;
	}
	25% {
		box-shadow: 0 1px 15px 5px var(--color-five) ;
	}
	50% {
		box-shadow: 0 1px 20px 5px var(--color-five) ;
	}
	75% {
		box-shadow: 0 1px 25px 5px var(--color-five) ;
	}
	100% {
		box-shadow: none;
	}
}
