.light-bulbs {
	display: flex;
	justify-content: space-between;
	padding: 1.5em;
	width: 500px;
	position: absolute;
	z-index: 1;
	top: 4em;
}

.light-bulb {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	position: relative;
}

.light-bulb.bulb-color-one {
	background-color: var(--bulb-color-one);
	/* box-shadow: 0px 1px 10px 5px var(--bulb-color-one); */
	animation: blinking-color-bulb-one 1s linear infinite;
}


.light-bulb.bulb-color-two {
	background-color: var(--bulb-color-two);
	animation: blinking-color-bulb-two 1s linear infinite;
}

.light-bulb.bulb-color-three {
	background-color: var(--bulb-color-three);
	animation: blinking-color-bulb-three 1s linear infinite;
}

.light-bulb.bulb-color-four {
	background-color: var(--bulb-color-four);
	animation: blinking-color-bulb-four 1s linear infinite;
}

.light-bulb.bulb-color-five {
	background-color: var(--bulb-color-five);
	animation: blinking-color-bulb-five 1s linear infinite;
}

.light-bulb::before {
	content: '';
	position: absolute;
	border: 2px solid #222;
	width: 10px;
	height: 10px;
	background: #222;
	border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	left: 25%;
	top: -12px; 
}

.light-bulb::after {
	content: '';
	width: 90px;
	height: 20px;
	border-bottom: 4px solid #222;
	border-radius: 50%;
	position: absolute;
	z-index: -1;
	top: -20px;
	left: 60%;
}

.light-bulb:last-of-type::after {
	border: none;
}

@keyframes blinking-color-bulb-one {
	0% {
		box-shadow: 0, 1px, 10px, 5px, var(--bulb-color-one);
	}
	25% {
		box-shadow: 0, 1px, 15px, 5px, var(--bulb-color-one);
	}
	50% {
		box-shadow: 0, 1px, 20px, 5px, var(--bulb-color-one);
	}
	75% {
		box-shadow: 0, 1px, 25px, 5px, var(--bulb-color-one);
	}
	100% {
		box-shadow: 0;
	}
}

@keyframes blinking-color-bulb-two {
	0% {
		box-shadow: 0px, 1px, 10px, 5px var(--bulb-color-two) ;
	}
	25% {
		box-shadow: 0px, 1px, 15px, 5px var(--bulb-color-two) ;
	}
	50% {
		box-shadow: 0px, 1px, 20px, 5px var(--bulb-color-two) ;
	}
	75% {
		box-shadow: 0px, 1px, 25px, 5px var(--bulb-color-two) ;
	}
	100% {
		box-shadow: none;
	}
}

@keyframes blinking-color-bulb-three {
	0% {
		box-shadow: 0, 1px, 10px, 5px var(--bulb-color-three) ;
	}
	25% {
		box-shadow: 0, 1px, 15px, 5px var(--bulb-color-three) ;
	}
	50% {
		box-shadow: 0, 1px, 20px, 5px var(--bulb-color-three) ;
	}
	75% {
		box-shadow: 0, 1px, 25px, 5px var(--bulb-color-three) ;
	}
	100% {
		box-shadow: none;
	}
}

@keyframes blinking-color-bulb-four {
	0% {
		box-shadow: 0, 1px, 10px, 5px var(--bulb-color-four) ;
	}
	25% {
		box-shadow: 0, 1px, 15px, 5px var(--bulb-color-four) ;
	}
	50% {
		box-shadow: 0, 1px, 20px, 5px var(--bulb-color-four) ;
	}
	75% {
		box-shadow: 0, 1px, 25px, 5px var(--bulb-color-four) ;
	}
	100% {
		box-shadow: none;
	}
}

@keyframes blinking-color-bulb-five {
	0% {
		box-shadow: 0, 1px, 10px, 5px var(--bulb-color-five) ;
	}
	25% {
		box-shadow: 0, 1px, 15px, 5px var(--bulb-color-five) ;
	}
	50% {
		box-shadow: 0, 1px, 20px, 5px var(--bulb-color-five) ;
	}
	75% {
		box-shadow: 0, 1px, 25px, 5px var(--bulb-color-five) ;
	}
	100% {
		box-shadow: none;
	}
}

@keyframes blinking-color-bulb-one {
	0% {
		box-shadow: 0, 1px, 10px, 5px var(--bulb-color-one) ;
	}
	25% {
		box-shadow: 0, 1px, 15px, 5px var(--bulb-color-one) ;
	}
	50% {
		box-shadow: 0, 1px, 20px, 5px var(--bulb-color-one) ;
	}
	75% {
		box-shadow: 0, 1px, 25px, 5px var(--bulb-color-one) ;
	}
	100% {
		box-shadow: none;
	}
}
