.popUp {
	width: 60vw;
	height: 60vw;
	background-color: var(--red);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
	backdrop-filter: blur(50px);
	border: 0;
}

.popUp::backdrop {
	background-color: rgba(255, 255, 255, 0.7);
}

.popUp__close-button {
	/* position: absolute;
	right: 0; */
}