#crew::before {
	content: '';
	background-image: url(../../assets/images/backgroundCrew.jpg);		
	background-size: cover;
	opacity: 0.3;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}; 

#crew .slideshow__infos {
	display: flex;
	overflow: hidden;
	margin: 1em auto;
	min-height: 50vh;
}



#crew .slideshow__info {
	display: none;
	z-index: 5;
}

#crew .slideshow__info--active {
	display: block;
	
}

#crew .slideshow__images {
	margin: 0 auto;
	display: flex;
	overflow: hidden;
}

#crew .slideshow__image {
	display: none;
}

#crew .slideshow__image--active {
	display: block;
	object-fit: contain;
	height: 35vh;
	margin-top: 1em;
}


 #crew .slideshow__dots {
	display: flex;
	justify-content: center;
	gap: 1em;
	position: relative;
	transition: 0.7s ease-in-out;
}

#crew .slideshow__dot {
	height: 10px;
	width: 10px;
	background-color: var(--green);
	border-radius: 100%;
	position: relative;
	opacity: 0.3;
}

#crew .slideshow__dot:focus {
	opacity: 1;
} 

#crew .slideshow__dot:hover {
	opacity: 0.7;
}   
