/* Using the ID to style since the classes that have been used are the same for both slideshows so one javascript module could be made for both slideshows. The ID separates the two slideshows so the styling could be made differently for each*/

#crew h3 {
	font-size: 1em;
}

#crew h2 {
	font-size: 3em;
}

#crew::before {
	content: '';
	background-image: url(../../assets/images/small/backgroundCrew.png);		
	background-size: cover;
	opacity: 0.3;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#crew .slideshow__infos {
	display: flex;
	overflow: hidden;
	margin: 1em auto;
}

#crew .slideshow__info {
	display: none;
	z-index: 5;
	min-height: 40vh;

}

#crew .slideshow__info--active {
	display: block;
	
}

#crew .slideshow__images {
	margin: 0 auto;
	display: flex;
	overflow: hidden;
}

#crew .slideshow__image {
	display: none;
}

#crew .slideshow__image--active {
	display: block;
	object-fit: contain;
	height: 40vh;
	margin-top: 1em;
}

 #crew .slideshow__dots {
	display: flex;
	justify-content: center;
	margin: 1em;
	gap: 1em;
	position: relative;
	transition: 0.7s ease-in-out;
}

#crew .slideshow__dot {
	height: 10px;
	width: 10px;
	background-color: var(--green);
	border-radius: 100%;
	position: relative;
	opacity: 0.3;
}

#crew .slideshow__dot:focus {
	opacity: 1;
} 

#crew .slideshow__dot:hover {
	opacity: 0.7;
}   

.slideshow__image--santa {
	position: absolute;
	bottom: 2em;
}
.slideshow__image--mrs-claus {
	position: absolute;
	bottom: 2em;
	left: 0;
	transform: scale(1.2);

}

.slideshow__image--elf {
	position: absolute;
	transform: scale(0.9);
	left: 0;
}

/* Styling for tablet */
@media screen and (min-width: 768px) {
	#crew::before {
		background-image: url(../../assets/images/medium/backgroundCrew.png);		
	}
	
	#crew h3 {
		text-align: left;
	}

	#crew h2 {
		font-size: 3.9em;
	}

	#crew p {
		padding: 0 6em;
	}

	#crew {
		padding: 3em 4em;
	}

	#crew .slideshow__info {
		min-height: 35vh;
	}

	#crew .slideshow__image--active {
		height: 45vh;
}

/* Styling for desktop */
@media screen and (min-width: 992px) {
	#crew {
		display: flex;
	}

	#crew::before {
		background-image: url(../../assets/images/big/backgroundCrew.png);		
	
	}

	#crew h2, #crew p {
		text-align: left;
		padding: 0.5em 0 0 0;
	}

	#crew h2 {
		font-size: 3.5em;
	}

	#crew h3 {
		padding-top: 8em;
		font-size: 1.2em;
	}


	#crew .slideshow__infos {
		max-width: 40vw;
	}

	#crew .slideshow__dots {
		justify-content: flex-start;
		margin-left: 0;
		gap: 1.5em;
	}

	#crew .slideshow__image--active {
		height: 70vh;
		right: 0;
		display: inline;
		width: 50vw;
	}

	.slideshow__image--mrs-claus {
		left: 50%;
	}

	.slideshow__image--rudolf {
		bottom: -8em;
	}

	.slideshow__image--elf {
		transform: translateX(100%) scale(0.8);
		bottom: 0;
	}
		
}