#places h3 {
	font-size: 0.9em;
}

#places h2 {
	font-size: 3em;
}

#places::before {
	content: '';
	background-image: url(../../assets/images/small/backgroundPlaces.png);
	background-size: cover;
	background-position: center;
	opacity: 0.7;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}


#places .slideshow__infos {
	display: flex;
	overflow: hidden;
	margin: 1em auto 1em auto;
	min-height: 40vh;
}

#places .slideshow__info {
	display: none;
	z-index: 3;
}

#places .slideshow__info--active {
	display: block;

}

#places .slideshow__images {
	margin: 0 auto;
	display: flex;
	overflow: hidden;
}

#places .slideshow__image {
	display: none;
}

#places .slideshow__image--active {
	display: block;
	object-fit: contain;
	height: 35vh;
	margin-top: 1em;
}

#places .slideshow__buttons {
	display: flex;
	justify-content: center;
	gap: 1em;
	position: relative;
	transition: 0.7s ease-in-out;
}

#places .slideshow__button {
	text-transform: uppercase;
	padding: 0 0 1em 0;
	background: none;
	position: relative;
	background: none;
}

#places .slideshow__button:focus:after {
	content: '';
	width: 100%;
	height: 3px;
	background-color: var(--green);
	position: absolute;
	bottom: 0.5em;
	left: 0;
}

#places .slideshow__button:hover:after {
	content: '';
	width: 100%;
	height: 3px;
	background-color: var(--green);
	position: absolute;
	bottom: 0.5em;
	left: 0;
	opacity: 0.5;
}

#places .slideshow__buttons::after {
	content: '';
	width: 100%;
	height: 1px;
	background-color: var(--green);
	position: absolute;
	bottom: 0;
}

.slideshow__image--santa {
	position: absolute;
	bottom: 10px;
	right: 0;
}

.tab__image--toys {
	position: absolute;
	bottom: 10px;
	right: 0;

}

.slideshow__image--reindeers {
	position: absolute;
	bottom: 0;
	right: 0;
}

.north-pole__sign {
	display: none;
}

@media screen and (min-width: 768px) {
	#places::before {
		background-image: url(../../assets/images/medium/backgroundPlaces.png);
	}

	#places h3 {
		text-align: left;
	}

	#places h2 {
		font-size: 3.9em;
	}

	#places p {
		padding: 0 6em;
	}

	#places {
		padding: 3em 4em;
	}
}

@media screen and (min-width: 992px) {
	 #places {
		padding-top: 8em;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(5, 1fr);
	}

	#places::before {
		background-image: url(../../assets/images/big/backgroundPlaces.png);
	}

	#places h3 {
		grid-column: 1 / 3; 
		grid-row: 1 / 2;
		align-self: center;
	}

	#places .slideshow__image--active {
		grid-column: 1 / 3;
		grid-row: 2 / 6;
		height: 100%;
		width: 100%;
		align-self: flex-start;
		margin-top: 0;
	}

	#places .slideshow__infos{
		grid-column: 3 / 6; 
		grid-row: 2 / 6;
		margin-left: 2em;
	}

	#places .slideshow__buttons {
		grid-row: 1 / 2;
		grid-column: 3 / 6; 
		justify-content: flex-start;
		margin-left: 2em;
		padding-left: 5px;
		align-self: flex-end;
	}

	#places .slideshow__images{
		grid-row: 2 / 6;
	}

	#places h2 {
		grid-row: 2 / 3;
		padding:  0 5px;
		text-align: left;
		font-size: 3.5em;
	}

	#places h3 {
		font-size: 1.2em;
	}

	#places p {
		grid-row: 3 / 6;
		padding: 0 5px;
		text-align: left;
	}

	#places p::after {
		content: '';
		width: 100%;
		height: 1px;
		background-color: var(--green);
		position: absolute;
		bottom: -5em;
		left: 0;
	}

	#places .slideshow__buttons::after {
		display: none;
	}

	.north-pole__sign {
		display: block;
		position: absolute;
		height: 8em;
		width: 8em;
		bottom: 9em;
		left: 18em;
	}
	 
}