:root {
	--left-start: 0;
	--left-end: 0;
	--y-start: 0;
}

.snow {
	background-image: url(../../assets/images/snowflaketest.png);
	filter: saturate(100%);
	background-size: cover;
	position: absolute;
	left: 0; 
	width: 20px;
	height: 20px;
	top: 0;
	z-index: 2;
	animation: snowfall 10s linear infinite;
	animation-delay: 10s;
	/* transform: rotate(360deg); */
	pointer-events: none;
	/* z-index: 999; */
}

@keyframes snowfall {
	0% {
		transform: translate3d(var(--left-start), var(--y-start), 0);
		/* endre første null til random vw såde beveger seg sidelengs */
		/* endre 0 2 til 		let y = window.innerHeight;
 */
	}
	100% {
		transform: translate3d(var(--left-end), 310vh, 0);
		/* endre første null til random vw såde beveger seg sidelengs */
	}
}

.toggle-snow{
	z-index: 10;
	position: fixed;
	right: 15px;
	bottom: 10px;
	display: none;
	cursor: pointer;
}

.toggle-snow__checkbox {
	position: relative;
	width: 80px;
	height: 40px;
	appearance: none;
	outline: none;
	border-radius: 20px;
	transition: 0.5s;
	background: #c6c6c6;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.toggle-snow__checkbox:checked {
	background: var(--red);
}

.toggle-snow__checkbox::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	top: 0;
	left: 0;
	background: var(--white);
	transform: scale(1.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}

.toggle-snow__checkbox:checked::before{
	left: 40px;
}