#inquires {
	color: var(--green);
	background-color: var(--red);
	/* background-image:url("https://www.transparenttextures.com/patterns/beige-paper.png"); */
	font-family: 'Corinthia', cursive;
	object-fit: scale-down;
	position: relative;
	overflow-y: scroll;
	width: 80vw;
	max-width: 450px;
	height: 70vh;
	margin: 20vh auto 10vh;
	z-index: 2;
	overflow-y: scroll;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);

}

#inquires::before {
	content: '';
	background-image: url(../../assets/images/santaBeard.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: -160px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.santa__face {
	background-color: #fcd9c3;
	height: 70px;
	width: 250px;
	position: absolute;
	top: 3px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 35px;
}

.santa__eyeL, .santa__eyeR {
	height: 15px;
	width: 30px;
	border-top: 8px solid #262626;
	border-radius: 30px 30px 0 0;
	position: absolute;
}

.santa__eyeL {
	top: 20px;
	left: 35%;
}

.santa__eyeR {
	top: 20px;
	left: 55%;
}

.santa__nose {
	background-color: #fbd1b6;
	height: 40px;
	width: 45px;
	border-radius: 50%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: 15px;
}

.wishlist__popup-alert {
	margin-top: 1em;
	margin-bottom: 1em;
	height: 1.5em;
	display: grid;
	align-items: center;
	text-align: center;
	border-radius: 0.2em;
	text-transform: capitalize;
}

.wishlist__popup-alert-danger {
	color: #721c24;
	background-color: #f8d7da;
}

.wishlist__popup-alert-success {
	color: #155724;
	background-color: #d4edda;
}

.wishlist__form h3 {
	text-align: center;
	margin-bottom: 0.2em;
	text-transform: capitalize;
	font-family: 'Corinthia', cursive;
	font-weight: lighter;
	font-size: 3em;
}

.form-control {
	display: flex;
	justify-content: center;
	width: 100%;
	transition: 0.3s;
	align-items: center;
	gap: 0.2em;
}


#wishlist {
	padding-left: 1em;
	height: 3em;
	background-color: rgba(26, 81, 53, 0.2);
	border: 1px solid var(--red);
	font-family: cursive;
	position: relative;
	border-radius: 25px 0 0 25px;
	box-shadow: 
	inset 1px 1px 0px rgba(255, 255, 255, 0.25),
	inset 0 0 6px #fff,
	inset 0 80px 80px -40px #fff,
	1px 1px 3px rgba(0, 0, 0, 0.75);

}

#wishlist::placeholder {
	color: var(--green);
}

.wishlist__button-submit {
	background: #5e0d0c;
	color: var(--white);
	border: 1px solid var(--red);
	height: 3em;
	padding: 0 1em 0 0.5em ;
	align-self: center;
	font-family: cursive;
	border-radius: 0 25px 25px 0;
	box-shadow: 
	inset 1px 1px 0px rgba(255, 255, 255, 0.25),
	inset 0 0 6px #a23227,
	inset 0 80px 80px -40px #ac3223,
	1px 1px 3px rgba(0, 0, 0, 0.75);
}

.wishlist__button-submit:hover {
	background: #a61715;
	box-shadow: 
	inset 1px 1px 0px rgba(255, 255, 255, 0.25),
	inset 0 0 6px #da3b2c,
	inset 0 80px 80px -40px #dd4330
	1px 1px 3px rgba(0, 0, 0, 0.75);
}

.wishlist__button-edit, .wishlist__button-delete {
	width: 20px;
	height: 20px;
}

.wishlist__container {
	margin-top: 2em;
	visibility: hidden;
}

.show-container {
	visibility: visible;
}

.wishlist__item {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 0.5em;
padding: 0.25em 1em;
text-transform: capitalize;
border-bottom: 1px solid var(--green);
transition: 0.3s;
z-index: ;
}

.wishlist__item:hover {
	background-color: rgba(26, 81, 53, 0.1);

}

.wishlist__button-send, .wishlist__button-clear {
	max-width: 300px;
	min-width: 100px;
	width: 40vw;
	margin: 1em auto ;
	padding: 0.5em;
	text-transform: uppercase;
	line-height: 2em;
	color: var(--white);
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
	background: #5e0d0c;
	outline: none;
	border-radius: 15px;
	border: 1px solid #4c0300;
	box-shadow: 
		inset 1px 1px 0px rgba(255, 255, 255, 0.25),
		inset 0 0 6px #a23227,
		inset 0 80px 80px -40px #ac3223,
		1px 1px 3px rgba(0, 0, 0, 0.75);
	position: relative;
	overflow: visible;
	transition: 0.3s linear;
	font-family: 'Bellefair';
	display: flex;
	justify-content: center;
}


.wishlist__button-send:hover, .wishlist__button-clear:hover {
	background: #a61715;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
	box-shadow: 
		inset 1px 1px 0px rgba(255, 255, 255, 0.25),
		inset 0 0 6px #da3b2c,
		inset 0 80px 80px -40px #dd4330
		1px 1px 3px rgba(0, 0, 0, 0.75);

}

.wishlist__flying-santa {
	width: 20vw;
	min-width: 170px;
	z-index: 20;
	position: absolute;
	bottom: 0%;
	left: -45%;
}

.wishlist__flying-santa-animation {
	animation: FlyingSanta 30s 1 linear;
}

.wishlist__sent {
	display: none;
	width: 70vw;
	height: 50px;
	position: absolute;
	z-index: 15;
	top: 60%;
	left: 50%;
	background-color: var(--white);
	transform: translateX(-50%);
	border: 1px solid var(--green);
	text-align: center;
	padding-top: 1em;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}


@keyframes FlyingSanta {
	25% {
		bottom: 40%;
		left: 85%;
		transform: rotateY(0deg);
	 }
	 26% {
		transform: rotateY(180deg);
	 }
	 50% {
		bottom: 60%;
		left: 0%;
		transform: rotateY(180deg);
	 }
	 51% {
		transform: rotateY(0deg);
	 }
	 75% {
		bottom: 80%;
		left: 100%;
		transform: rotateY(0deg);
	 }

	 100% {
		bottom: 80%;
		left: 100%;
	 }
}