/* .inquires {
	background: url(../../assets/images/backgroundWishlist.svg);
} */

#inquires {
	color: var(--green);
	background-color: var(--white);
	background-image:url("https://www.transparenttextures.com/patterns/beige-paper.png");
	font-family: 'Corinthia', cursive;
	width: 60vw;
	max-width: 400px;
	height: 70vh;
	border-width: 5px;
	border-style: solid;
	border-image: repeating-linear-gradient(-45deg,
	var(--red),
	var(--red) 12px,
	transparent 10px,
	transparent 23px) 2;
	margin: 9em auto;
	text-align: center;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
	z-index: 2;
	position: relative;
	overflow-y: scroll;
}

.alert {
	margin-bottom: 1em;
	height: 2em;
	display: grid;
	align-items: center;
	text-align: center;
	border-radius: 0.2em;
	text-transform: capitalize;
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
}

.alert-success {
	color: #155724;
	background-color: #d4edda;
}

.wishlist__form h3 {
	text-align: center;
	margin-bottom: 0.2em;
	text-transform: capitalize;
	font-family: 'Corinthia', cursive;
	font-weight: lighter;
	font-size: 3em;
}

.form-control {
	display: flex;
	justify-content: center;
	width: 100%;
	transition: 0.3s;
	align-items: center;
	gap: 0.2em;
}


#wishlist {
	padding-left: 1em;
	height: 3em;
	background-color: rgba(26, 81, 53, 0.2);
	border: 1px solid var(--red);
	font-family: cursive;
	position: relative;
	border-radius: 25px 0 0 25px;
	box-shadow: 
	inset 1px 1px 0px rgba(255, 255, 255, 0.25),
	inset 0 0 6px #fff,
	inset 0 80px 80px -40px #fff,
	1px 1px 3px rgba(0, 0, 0, 0.75);

}

#wishlist::placeholder {
	color: var(--green);
}

.wishlist__button--submit {
	background: #5e0d0c;
	color: var(--white);
	border: 1px solid var(--red);
	height: 3em;
	padding: 0 1em 0 0.5em ;
	align-self: center;
	font-family: cursive;
	border-radius: 0 25px 25px 0;
	box-shadow: 
	inset 1px 1px 0px rgba(255, 255, 255, 0.25),
	inset 0 0 6px #a23227,
	inset 0 80px 80px -40px #ac3223,
	1px 1px 3px rgba(0, 0, 0, 0.75);
}

.wishlist__button--submit:hover {
	background: #a61715;
	box-shadow: 
	inset 1px 1px 0px rgba(255, 255, 255, 0.25),
	inset 0 0 6px #da3b2c,
	inset 0 80px 80px -40px #dd4330
	1px 1px 3px rgba(0, 0, 0, 0.75);
}

.wishlist__button--edit, .wishlist__button--delete {
	width: 20px;
	height: 20px;
}

.wishlist__container {
	margin-top: 2em;
	visibility: hidden;
}

.show-container {
	visibility: visible;
}

.wishlist__item {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 0.5em;
padding: 0.25em 1em;
text-transform: capitalize;
border-bottom: 1px solid var(--green);
transition: 0.3s;
}

.wishlist__item:hover {
	background-color: rgba(26, 81, 53, 0.1);

}

.wishlist__button--send, .wishlist__button--clear {
	max-width: 300px;
	min-width: 100px;
	width: 40vw;
	margin: 1em auto ;
	padding: 0.5em;
	text-transform: uppercase;
	line-height: 2em;
	color: var(--white);
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
	background: #5e0d0c;
	outline: none;
	border-radius: 15px;
	border: 1px solid #4c0300;
	box-shadow: 
		inset 1px 1px 0px rgba(255, 255, 255, 0.25),
		inset 0 0 6px #a23227,
		inset 0 80px 80px -40px #ac3223,
		1px 1px 3px rgba(0, 0, 0, 0.75);
	position: relative;
	overflow: visible;
	transition: 0.3s linear;
}

.wishlist__button--send::before {
	content: '';
	display: block;
	position: absolute;
	top: -7px;
	left: -3px;
	right: 0;
	height: 23px;
	background: 
	 	url(../../assets/images/buttonSnowLeft.png) no-repeat 0 0, 
		url(../../assets/images/buttotSnowMiddle.png) no-repeat 50% 0,
		url(../../assets/images/buttonSnowRight.png) no-repeat 100% 0;

}

.wishlist__button--send:hover, .wishlist__button--clear:hover {
	background: #a61715;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
	box-shadow: 
		inset 1px 1px 0px rgba(255, 255, 255, 0.25),
		inset 0 0 6px #da3b2c,
		inset 0 80px 80px -40px #dd4330
		1px 1px 3px rgba(0, 0, 0, 0.75);

}

.wishlist__modal {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 3em;
	background-color: #586c92;
	height: 530px;
	width: 450px;
	position: absolute;
	color: var(--white);
	overflow: hidden;
}

.wishlist__modal p {
	padding-bottom: 10em;
}

.santa {
	position: relative;
	top: 140px;
	left: 70px;
	transform: rotate(10deg);
	animation: santa-swing 4s infinite;
}

.santa__beard {
	background-color: white;
	height: 220px;
	width: 220px;
	border-radius: 0 50% 50% 50%;
	transform: rotate(-135deg);
}

.santa__face {
	background-color: #fcd9c3;
	height: 60px;
	width: 155px;
	position: relative;
	bottom: 180px;
	left: 31px;
	border-radius: 35px;
}

.santa__hat {
	background-color: #f14a68;
	height: 150px;
	width: 150px;
	position: relative;
	bottom: 420px;
	left: 35px;
	border-radius: 0 200px 0 0;
}

.santa__hat--bottom {
	background-color: white;
	height: 50px;
	width: 200px;
	border-radius: 20px;
	position: relative;
	top: 140px;
	right: 25px;
}

.santa__hat--top {
	background-color: white;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	position: relative;
	bottom: 65px;
	right: 35px;
}

.santa__face--eyeL, .santa__face--eyeR {
	height: 15px;
	width: 30px;
	border-top: 8px solid #262626;
	border-radius: 30px 30px 0 0;
	position: relative;
}

.santa__face--eyeL {
	left: 32px;
	top: 20px;
}

.santa__face--eyeR {
	top: 4px;
	left: 92px;
}

.santa__face--nose {
	background-color: #fbd1b6;
	height: 30px;
	width: 35px;
	border-radius: 50%;
	position: relative;
	left: 60px;
	top: 15px;
}

.santa__face--mouth {
	background-color: #262626;
	height: 20px;
	width: 40px;
	border-radius: 0 0 20px 20px;
	position: relative;
	top: 22px;
	left: 57px;
	opacity: 0.8;
}

@keyframes santa-swing {
	50% {
		transform: rotate(-10deg);
	}
}